*{box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}

header{
    font-family: Montserrat, sans-serif; 
    background: #fff;
}

h6{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

h5{
    font-family: Raleway, sans-serif;
}

h3{
    font-family: Raleway, sans-serif;
    font-weight: 600;
    color: #303030;
    margin-bottom: 0;

}

h2{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: #303030;
}

p{
    font-family: Montserrat, sans-serif;
    color: #606060;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
}

li{
    list-style: none;
    padding-inline-start: 0;
}

textarea:focus, input:focus, input[type]:focus{
    border: 1px solid rgb(99,19,18);
    outline: 0 none;
}

/* Animation Start*/
@keyframes fadeInUp{
    from{
        transform: translate3d(0,40px,0);
    }

    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp{
    from{
        transform: translate3d(0,40px,0);
    }

    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s ;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUp{
    opacity: 0;
}

.fadeInUp{
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Animation End */

/* Header Start*/
.header-area{
    z-index: 10;
    position: relative;
}
.header-wrap{
    display: flex;
    justify-content: space-around;
}

.logo{
    padding: 20px 0;
}

.logo img{
    width: 65%;
    display: block;
    margin: 0 auto;
}

.company-info{
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.company-info-item{
    float: left;
    overflow: hidden;
    width: 50%;
}

.company-info-item .icon{
    float: left;
    width: 18%;
}

.company-info-item .icon img{
    width: 50%;
}

.company-info-item .info{
    float: left;
    width: 82%;
}

.info h6{
    margin-bottom: 0;
}

.info p{
    color: #606060;
    font-size:12px;
    font-weight: 300;
    line-height: 12px;
    margin-bottom: 0;
}

.transparent-header{
    position: absolute;
    width: 100%;
    margin: auto;
    background: rgba(99, 19, 18,0.9) none repeat scroll 0 0;
    transition: all 0.3s ease 0s;
}
/* Header End*/

/* Sticky Header start*/
.transparent-header.sticky{
    background: rgba(255,255,255,1);
    box-shadow: 1px 3px rgba(50,50,50,0.4);
}

.sticky{
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky .sticky-logo img{
    display: block;
    float: left;
    padding: 8px 0;
    width: 100px;
}

.sticky .main-menu{
    text-align: right;
    margin-top: 21px;
}

.sticky .main-menu li a{
    color: #303030;
    font-size: 14px;
    padding: 10px 0;
}

.sticky .main-menu li a:hover, .sticky .main-menu li a:active{
    color: rgb(99, 19, 18);
}

.header-stick{
    position: absolute;
    width: 100%;
    margin: auto;
    background: rgba(99, 19, 18,0.9);
}

.sticky-logo img{
    display: none;
    transition: all 0.3s ease 0s;
}

.drop-menu{
    position: relative;
}

.drop-menu .row [class*="col-"]{
    position: static;
}

#primary-menu{
    display: flex;
    justify-content: center;
}

.main-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin:0;
    padding-inline-start: 0;
    text-align: center;
}

.main-menu li{
    display: inline-block;
    position: relative;
    list-style: none;
    margin-right: 50px;
}

.main-menu li a{
    display: block;
    font-size: 16px;
    padding: 15px 0;
    text-transform: uppercase;
    color: white;
}

.main-menu li a:hover, .main-menu li a:active{
    color: lightgrey;
    text-decoration: none;
}
/* Sticky Header end*/

/* Mobile Menu start*/
.mobile-menu-area{
    background: rgba(99,19,18,0.9);
    font-family: Montserrat, sans-serif;
}

.mean-container .mean-bar{
    box-sizing: content-box;
    background: transparent none repeat scroll 0 0;
    float: left;
    min-height: 42px;
    padding: 4px 0 0;
    position: relative;
    width: 70%;
    z-index: 999999;
    top: 6px;
}

.mean-container .mean-bar::after{
    color: #fff;
    content: 'MENU';
    font-size: 16px;
    position: absolute;
}

.mean-bar a.meanmenu-reveal{
    width: 22px;
    height: 22px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    float: right;
}

.mean-bar .meanmenu-reveal span{
    display: block;
    background: #fff;
    height: 3px;
    width: 100%;
    margin-top: 3px;
}

.mean-bar .mean-nav{
    float: left;
    width: 100%;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 15px;
}

.mean-bar .mean-nav ul{
    padding-inline-start: 0;
}

.mean-bar .mean-nav ul li{
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
    list-style: none;
    padding-inline-start: 0;
}

.mean-bar .mean-nav ul li a{
    background: #f8f8f8 none repeat scroll 0 0;
    color: grey;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 1em 5%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-weight: 400;
}

/* Mobile Menu end */

/* Slider start*/
.bg-opacity-black-40::before{
    background: rgba(0,0,0,0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.bg-3{
    background-attachment: fixed;
    background-clip: initial;
    background-color: rgba(0,0,0,0);
    background-origin: top;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-image: url('../images/header.jpg');
}

.slider{
    overflow: hidden;
    padding: 130px 0 75px;
}

.fadeInUp{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
}

.find-home-box{
    border-bottom: 4px solid rgb(99, 19, 18);
    margin-left: 20%;
    width: 440px;
    background: rgba(50,50,50,0.7);
    padding: 26px 30px 20px;
}

.section-title{
    color: #303030;
    margin-bottom: 42px;
    font-family: Montserrat, sans-serif;
}

.section-title h2{
    font-size: 36px;
    font-weight: 700;
    color: #fff;

}

.section-title h3{
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 0;
}

.section-title h5{
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
}

.find-home-box .find-home{
    margin: auto;
    width: calc(100% - 0px);
}

.find-home-box .find-home-item{
    margin-bottom: 30px;
}

.find-home-box .find-home-item input{
    width: 100%;
    color: #fff;
    margin-bottom: 0;
    background-color: transparent;
    border: 1px solid #e1e1e1;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 0 10px;
}

.find-home-box .find-home-item input:focus{
    border-color: rgb(99,19,18);
}

.button{
    border: none;
    font-family: Montserrat, sans-serif;
    background: rgb(99, 19, 18) none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 10px 18px;
    text-align: center;
}
/* Slider end */

/* Page Content start */
.about-area{
    margin-top: 70px;
}

.about-area .about-title{
    margin-bottom: 30px;
}

.about-area .about-info span{
    cursor: help;
    font-size: 18px;
    font-weight: 600;
}

.about-image{
    transition: all 0.3s ease 0s;
}

.about-image img{
    width: 100%;
}

.about-info .author-quote strong{
    font-weight: bold;
}

.about-info .author-quote p{
    padding-left: 30px;
    position: relative;
}

.about-info .author-quote p i{
    display: inline-block;
    left: 0;
    position: absolute;
    top: 4px;
}

.services-area{
    padding-top: 115px;
}

.services-area .service-carousel a{
    text-decoration: none;
}

.services-area .section-title{
    margin-bottom: 55px;
}

.services-area .section-title h2{
    line-height: 1;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #303030;
}

.services-area .service-carousel{
    width: 100%;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slick-track{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.service-item{
    margin-bottom: 60px;
}

.service-item .service-image img{
    width: 100%;
    display: block;
}

.service-item .service-info{
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 26px 15px 10px;
}

.service-item .service-info h5{
    text-align: center;
    font-weight: 600;
    color: #303030;
}

.features-area{
    background: #f5f5f5 url("http://avalon3.com/a-invest/images/others/features.jpg") no-repeat scroll 0 0;
    overflow: hidden;
}

.features-area .features-info{
    padding: 60px 130px 45px 50px;
    position: relative;
    background: #f5f5f5;
}

.features-area .features-info::before{
    border-bottom: 532px solid #f5f5f5;
    border-left: 200px solid transparent;
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 0;
}

.features-info .section-title h3{
    color: #303030;
}

.features-include-list h6{
    font-weight: bold;
}

.featured-flat-area{
    text-align: center;
    padding-top: 115px;
    padding-bottom: 80px;
}

.featured-flat .properties img{
    width: 100%;
}

.footer-area{
    background-attachment: inherit;
}

.bg-2{
    background-color: rgba(0,0,0,0);
    background-clip: initial;
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-image: url('../images/header2.jpg');
}

.bg-opacity-black-90::before{
    background: rgba(0,0,0,0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.properties img{
    transition: transform 0.5s;
    z-index: 1;
    position: relative;
}

.properties img:hover{
    transform: scale(1.3);
    z-index: 2;
}

.footer-top{
    padding-top: 70px;
    padding-bottom: 50px;
}

.footer-top div+div+div{
    display: flex;
    justify-content: space-around;
}

.footer-top .footer-title{
    color: #fefefe;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer-top .footer-address{
    margin: 0;
    padding: 0;
}

.footer-top .footer-address li{
    list-style: none;
    padding-inline-start: 0;
    padding-bottom: 10px;
    overflow: hidden;
}

.footer-top .footer-address li + li{
    padding-top: 15px;
}

.footer-top .footer-address .address-icon{
    float: left;
    width: 15%;
}

.footer-top .footer-address .address-info{
    float: left;
    width: 85%;
}

.footer-top .footer-address .address-info span{
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: #ccc;
}

.footer-top .footer-address .address-info span a{
    color: #ccc;
}
.footer-top .footer-address .address-info span a:hover{
    color: #ccc;
}

.footer-top .footer-widget.middle{
    margin: auto;
    width: calc(100% - 100px);
}

.footer-top .footer-widget.middle .footer-title{
    padding-left: 40px;
}

.footer-top .footer-lastest-news li{
    overflow: hidden;
}

.footer-top .footer-lastest-news li + li{
    padding-top: 30px;
}

.footer-top .lastest-news-image{
    float: left;
    width: 18%;
}

.footer-top .lastest-news-image img{
    width: 100%;
}

.footer-top .lastest-news-info{
    float: left;
    width: 82%;
    padding-left: 20px;
}

.footer-top .lastest-news-info h6{
    color: #c7c7c7;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5px;
}

.footer-top .lastest-news-info p{
    color: #ccc;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}

.footer-contact p{
    color: #ccc;
    font-size: 12px;
}

.footer-contact .find-home-item{
    margin-bottom: 20px;
    width: 100%;
}

.footer-contact .find-home-item input{
    border: 1px solid #706e6d;
    color: #fff;
    height: 35px;
    font-size: 12px;
    background: transparent;
    width: 100%;
    padding: 0 10px;
}

.footer-contact .find-home-item input:focus{
    border-color: rgb(99,19,18);
}

.footer-top .footer-widget.middle ul{
    padding-inline-start: 0;
}

.footer-contact button{
    background: #c5c5c5 none repeat scroll 0 0;
    color: #000000;
    padding: 3px 15px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border: none;
}

.footer-bottom{
    background: rgba(23,23,23,0.7) none repeat scroll 0 0;
    border-top: 1px solid #484848;
    padding: 20px 0;
}

.footer-bottom .copyright{
    text-align: center;
}

.footer-bottom .copyright p{
    color: #ccc;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 300;
}

.footer-bottom .copyright a{
    color: rgb(99,19,18);
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
}

/* Page Content end */

@media (max-width: 767px){
    p{
        font-size: 13px;
    }
    .sticky{
        display: none;
    }
    .slider{
        padding: 80px 20px;
    }
    .find-home-box{
        margin-left:0;
        width: 100%;
    }
    .section-title{
        margin-bottom: 30px;
        text-align: center;
    }
    .section-title h2{
        font-size: 20px;
    }
    .section-title h3{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .section-title h5{
        font-size: 16px;
    }
    .slick-track{
        padding: 0 20px;
    }
    .services-area{
        padding-top: 70px;
    }
    .service-item{
        margin-bottom: 50px;
    }
    .features-area{
        background: url('http://avalon3.com/a-invest/images/others/features.jpg');
    }
    .features-area .features-info{
        position: relative;
        padding: 60px 20px 45px;
    }
    .features-info::before{
        display: none;
    }
    .featured-flat-area{
        padding: 110px 20px 75px;
    }
    .properties{
        margin-bottom: 5px;
    }
    .footer-top{
        padding: 80px 20px 70px;
    }
    .footer-top .footer-widget.middle{
        margin: auto;
        width: calc(100% - 0px);
    }

    .footer-top .col-xs-12 + .col-xs-12{
        margin-top: 30px;
    }
    .footer-top .footer-widget.middle .footer-title{
        padding: 0;
    }
    .footer-top .footer-widget.middle ul{
        padding-inline-start: 0;
    }

    


}
/* ==Left Propriedades== */
.floating-wpp {
    position: fixed;
    bottom: 55px;
    left: 25px;
    font-size: 14px;
    transition: bottom 0.45s;
}

.floating-wpp .floating-wpp-button {
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
    transition: box-shadow 0.2s;
    cursor: pointer;
    overflow: hidden;
}

.floating-wpp .floating-wpp-button img, .floating-wpp .floating-wpp-button svg {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
}

.floating-wpp:hover {
    bottom: 35px;
}

.floating-wpp:hover .floating-wpp-button {
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}

.floating-wpp .floating-wpp-popup {
    /*border: 2px solid white;*/
    border-radius: 6px;
    background-color: #E5DDD5;
    position: absolute;
    overflow: hidden;
    padding: 0;
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
    width: 0px;
    height: 0px;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
    transform-origin: bottom;
}

.floating-wpp .floating-wpp-popup.active {
    padding: 0 12px 12px 12px;
    width: 260px;
    height: auto;
    bottom: 82px;
    opacity: 1;
}

.floating-wpp .floating-wpp-popup .floating-wpp-message {
    background-color: white;
    padding: 8px;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.2s;
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
    opacity: 1;
    transition-delay: 0.2s;
}

.floating-wpp .floating-wpp-popup .floating-wpp-head {
    text-align: right;
    color: white;
    margin: 0 -15px 10px -15px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.floating-wpp .floating-wpp-input-message {
    background-color: white;
    margin: 10px -15px -15px -15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.floating-wpp .floating-wpp-input-message textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

.floating-wpp .floating-wpp-btn-send {
    margin-left: 12px;
    font-size: 0;
    cursor: pointer;
}


/*====================
===========================*/

/* ==Right Propriedades== */
.Right-zap {
    position: fixed;
    bottom: 55px;
    left: 25px;
    font-size: 14px;
    transition: bottom 0.45s;
}

.Right-zap .Right-zap-button {
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
    transition: box-shadow 0.2s;
    cursor: pointer;
    overflow: hidden;
}

.Right-zap .Right-zap-button img, .Right-zap .Right-zap-button svg {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
}

.Right-zap:hover {
    bottom: 35px;
}

.Right-zap:hover .Right-zap-button {
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}

.Right-zap .Right-zap-popup {
    /*border: 2px solid white;*/
    border-radius: 6px;
    background-color: #E5DDD5;
    position: absolute;
    overflow: hidden;
    padding: 0;
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
    width: 0px;
    height: 0px;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
    transform-origin: bottom;
}

.Right-zap .Right-zap-popup.active {
    padding: 0 12px 12px 12px;
    width: 260px;
    height: auto;
    bottom: 82px;
    opacity: 1;
}

.Right-zap .Right-zap-popup .Right-zap-message {
    background-color: white;
    padding: 8px;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.2s;
}

.Right-zap .Right-zap-popup.active .Right-zap-message {
    opacity: 1;
    transition-delay: 0.2s;
}

.Right-zap .Right-zap-popup .Right-zap-head {
    text-align: right;
    color: white;
    margin: 0 -15px 10px -15px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Right-zap .Right-zap-input-message {
    background-color: white;
    margin: 10px -15px -15px -15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.Right-zap .Right-zap-input-message textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

.Right-zap .Right-zap-btn-send {
    margin-left: 12px;
    font-size: 0;
    cursor: pointer;
}